<h2 class="system-title"><%%= t('.title') %></h2>

<%%= form_for [:<%= options[:namespace] %>, @<%= options[:table].singularize %>], html: { class: nil, <%= options[:multipart] ? "enctype: 'multipart/form-data', " : nil %>id: nil } do |f| %>
  <%%= render 'form', f: f %>
<%% end %>
